<div class="container">
    <h2 class="p-3">See Locations</h2>
    <button type="button" class="btn btn-primary" [routerLink]="[ '/locations/add']">Add location</button>
    <p *ngIf="loading">Loading..</p>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">City</th>
          <th scope="col">State</th>
          <th scope="col">Country</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let location of locations | paginate: { itemsPerPage: 10, currentPage: p }">
          <th scope="row">{{location._id}}</th>
          <td>{{location.city}}</td>
          <td>{{location.state}}</td>
          <td>{{location.country}}</td>
          <td>
           <button type="button" class="btn btn-info" [routerLink]="[ '/locations/edit', location._id ]">Edit</button>
            <button type="button" class="btn btn-danger" (click)="delete(location._id)">Delete</button>
          </td>
        </tr>
  
      </tbody>
    </table>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
  