<div class="container">
  <h2 class="p-3">See Covid Cases</h2>
  <button type="button" class="btn btn-primary" [routerLink]="[ '/cases/add']">Add case</button>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Last name</th>
        <th scope="col">Age</th>
        <th scope="col">Gender</th>
        <th scope="col">Confirmed</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let case of cases | paginate: { itemsPerPage: 10, currentPage: p }">
        <th scope="row">{{case._id}}</th>
        <td>{{case.name}}</td>
        <td>{{case.last_name}}</td>
        <td>{{case.age}}</td>
        <td>{{case.gender}}</td>
        <td>{{case.isConfirmed}}</td>
        <td>
         <button type="button" class="btn btn-info" [routerLink]="[ '/cases/edit', case._id ]">Edit</button>
          <button type="button" class="btn btn-danger" (click)="delete(case._id)">Delete</button>
        </td>
      </tr>

    </tbody>
  </table>
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>
